<a href="https://colab.research.google.com/github/nm3924/introduction-to-databases/blob/master/Copy_of_Session_5_Aggregate_Queries_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 5: Aggregate Queries Assignment


In this segment we will connect to the *Music* database.

## Setup

In [ ]:

# !sudo pip3 install PyMySQL sqlalchemy sql_magic

In [ ]:
# This code creates a connection to the database
from sqlalchemy import create_engine

conn_string = "mysql+pymysql://{user}:{password}@{host}/{db}?charset={encoding}".format(
    host="db.ipeirotis.org",
    user="student",
    db="music",
    password="dwdstudent2015",
    encoding="utf8mb4",
)

engine = create_engine(conn_string)
con = engine.connect()

In [ ]:
%reload_ext sql_magic

In [ ]:
%config SQL.conn_name = 'engine'

In [ ]:
%%read_sql
SELECT * 
FROM played

## **ATTENTION: Remember that the primary key for an album consists of both the artist id and the album id. Similarly, the primary key for the tracks consists of the track id, the album id, and the artist id.**

## Question 1: Count the number of artists in the database

In [ ]:
%%read_sql
SELECT COUNT(*)
FROM artist;

## Question 2: Count the number of tracks in the database

In [ ]:
SELECT COUNT(*)
FROM track;

## Question 3: Show the average and standard deviation of the track length

In [ ]:
%%read_sql
SELECT ROUND(AVG(time),2) AS avg_track, ROUND(STDDEV(time),2) AS stddev_track
FROM track;

## Question 4: Show the earliest and latest date that the user has played a song

In [ ]:
%%read_sql
SELECT MIN(played) AS min_played, MAX(played) AS max_played
FROM played;

## Question 5: For each artist id, count the number of albums in the database. You only need to show the id of the artist, not the name of the artist.

In [ ]:
%%read_sql
SELECT artist_id, COUNT(*)
FROM album
GROUP BY artist_id;

## Question 6: For each album id, count the number of tracks for that album. You only need to show the id of the album, not its name.

In [ ]:
%%read_sql
SELECT album_id, COUNT(*)
FROM track
GROUP BY album_id;

## Question 7: For each album id, show the total length of all the tracks in the album.

In [ ]:
%%read_sql
SELECT album_id, SUM(time)
FROM track
GROUP BY album_id;

## Question 8: List all the album id's, where the total album length (across all the album's tracks) is longer than 60 minutes.

In [ ]:
%%read_sql
SELECT album_id, SUM(time) 
FROM track
GROUP BY album_id
HAVING SUM(time) > 60;

## Question 9: Find all track names that appear in more than one album, and show how many artists used the same track name (if any).

In [ ]:
%%read_sql
SELECT track_name, COUNT(track_id) AS num_track
FROM track
GROUP BY track_name
HAVING COUNT(*) > 1;

## Question 10: For each artist id, list the first and the last time that a user listened to a song by this artist.

In [ ]:
%%read_sql