<a href="https://colab.research.google.com/github/nm3924/introduction-to-databases/blob/master/Copy_of_Session_4_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 4: Join Queries Assignment


In this segment we will connect to the *Music* database.

## Setup

In [ ]:
# !sudo pip3 install PyMySQL sqlalchemy sql_magic

In [ ]:
# This code creates a connection to the database
from sqlalchemy import create_engine

conn_string = "mysql+pymysql://{user}:{password}@{host}/{db}?charset={encoding}".format(
    host="db.ipeirotis.org",
    user="student",
    db="music",
    password="dwdstudent2015",
    encoding="utf8mb4",
)

engine = create_engine(conn_string)
con = engine.connect()

In [ ]:
%reload_ext sql_magic

In [ ]:
%config SQL.conn_name = 'engine'

This is an example of how you can write an SQL query in the notebook.
You write your SQL query after the `%%read_sql` line.

In [ ]:
%%read_sql
SELECT * 
FROM played

## Question 1: List all the album names by the band `New Order`

In [ ]:
%%read_sql
SELECT artist_name, album_name
FROM artist A
	INNER JOIN album B ON A.artist_id = B.artist_id
WHERE artist_name = 'New Order';

## Question 2: List the tracks for the album `Second Coming`

In [ ]:
%%read_sql
SELECT track_name, album_name
FROM track T
	INNER JOIN album B on T.artist_id = B.artist_id
WHERE album_name = 'Second Coming';

## Question 3: List all the track names, the corresponding album name, and the corresponding artist name

In [ ]:
%%read_sql

SELECT track_name, artist_name, album_name
FROM track T
INNER JOIN artist A on A.artist_id = T.artist_id
INNER JOIN album B on T.album_id = B.album_id;

## Question 4: List all all the tracks by the artist `The Stone Roses` and rank them by time length, from shortest to longest

In [ ]:
%%read_sql
   
SELECT track_name, time, artist_name
FROM track T
	INNER JOIN artist A on A.artist_id = T.artist_id
WHERE artist_name = 'The Stone Roses' ORDER by time;

## Question 5: The table `played` contains the tracks that the user listened to, and the time that they listened to the songs. List the _distinct_ names of the artists that the user has listened to.

In [ ]:
%%read_sql
SELECT played, artist_name
FROM played P
	INNER JOIN artist A on A.artist_id = P.artist_id;

## Question 6: List the name of the artists and albums that have tracks with time length more than 10 minutes.

In [ ]:
%%read_sql
SELECT  artist_name, album_name
FROM track T
INNER JOIN artist A on A.artist_id = T.artist_id
INNER JOIN album B on T.album_id = B.album_id
WHERE time > 10;

## Question 7: List the album name, the artist name, and the track names, where both the name of the album and the name of the track contain the string `love` (it is fine if it is part of a longer word).

In [ ]:
%%read_sql
SELECT  track_name, artist_name, album_name
FROM track T
INNER JOIN artist A on A.artist_id = T.artist_id
INNER JOIN album B on T.album_id = B.album_id
WHERE track_name LIKE '%love%' AND album_name LIKE '%love%';

## Question 8: The table played contains the tracks that the user listened to, and the time that they listened to the songs. List the tracks that are in the database, but which the user has never listened to. (Note: Need an outer join).

In [ ]:
%%read_sql
SELECT *
FROM track T
	LEFT OUTER JOIN played P ON T.track_id = P.track_id
WHERE P.track_id IS NULL;