<a href="https://colab.research.google.com/github/nm3924/introduction-to-databases/blob/master/Copy_of_Session2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 2: Selection Queries Assignment


In this segment we will connect to the *Music* database.

## Setup

In [ ]:
# !sudo pip3 install PyMySQL sqlalchemy sql_magic

In [ ]:
# This code creates a connection to the database
from sqlalchemy import create_engine

conn_string = "mysql+pymysql://{user}:{password}@{host}/{db}?charset={encoding}".format(
    host="db.ipeirotis.org",
    user="student",
    db="music",
    password="dwdstudent2015",
    encoding="utf8mb4",
)

engine = create_engine(conn_string)
con = engine.connect()

In [ ]:
%reload_ext sql_magic

In [ ]:
%config SQL.conn_name = 'engine'

This is an example of how you can write an SQL query in the notebook.
You write your SQL query after the `%%read_sql` line

In [ ]:
%%read_sql
SELECT * 
FROM played

## Question 1: Show all the tables that appear in the Music database

In [ ]:
%%read_sql
USE music
SHOW TABLES;

## Question 2: Show the attributes available for each artist

In [ ]:
%%read_sql
DESCRIBE artist;

## Question 3: Show the attributes available for each album

In [ ]:
%%read_sql
DESCRIBE album;

## Question 4: Show the attributes available for each track

In [ ]:
%%read_sql
DESCRIBE track;

## Question 5: Show all the artists

In [ ]:
%%read_sql
SELECT * 
FROM artist;

## Question 6: Show all the albums

In [ ]:
%%read_sql
SELECT *
FROM album;

## Question 7: Show all the tracks

In [ ]:
%%read_sql
SELECT *
FROM track;

## Question 8: List all the names of the artists, without the artist ids, sorted alphabetically

In [ ]:
%%read_sql
SELECT artist_name
FROM artist
ORDER BY artist_name;

## Question 9: Show all the album names and the corresponding artist id, but do not show the album_id. Rename the album_name attribute to album_title.

In [ ]:
%%read_sql
SELECT * 
FROM album;

SELECT artist_id, album_name AS album_title
FROM album;

## Question 10: List the 10 shortest tracks, in terms of playing time

In [ ]:
%%read_sql
SELECT track_name, time
FROM track
ORDER BY time
LIMIT 10;